<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about page</title>
</head>
<body>
	<section>

		<div class="content mt-5">

			<i onclick="toggleSidebar()" class="fas fa-bars m-3"
				aria-hidden="true"></i>
		</div>

		<!-- message box -->

		<div th:if="${session.message}" class="container">

			<div th:classappend="${'alert-'+session.message.type}" class="alert "
				role="alert">

				<span th:text="${session.message.content}"></span>

			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>

		</div>

		<div class="card">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-contact}">

								<!-- First name 
									<div class="input-group">
									  <div class="input-group-prepend">
									  	<div class="input-group-text mr-3">
									  	<i class="fa fa-plus"></i>
									  	</div>
									  	<input type="text" id="firstname" name="name" placeholder="Enter name here" class="form-control"/>
									  </div>
									</div>
									-->

								<!-- First name -->
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Name</label>

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" id="firstname"
											placeholder="Enter your Name Here" name="name">
									</div>
								</div>

								<!-- Nick name -->
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Nick
										Name</label>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" id="secondName"
											placeholder="Enter your Nice name here" name="secondName">
									</div>
								</div>

								<!-- phone number  -->
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Phone
										number</label>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type=number class="form-control" id="phone"
											placeholder="Enter your phone number" name="phone">
									</div>
								</div>

								<!-- Email name -->
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">Email</label>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" id="email"
											placeholder="Enter your Email here" name="email">
									</div>
								</div>
								<!-- Work role -->
								<div class="col-auto">
									<label class="sr-only" for="inlineFormInputGroup">work</label>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" id="work"
											placeholder="Enter your position" name="work">
									</div>
								</div>

								<!-- image upload -->
								<div class="mb-3">
									<label for="formFile" class="form-label"> Select Image</label>
									<input class="form-control" type="file" id="image"
										name="profileImage">
								</div>


								<!-- Descripation name -->

								<div class="form-group green-border-focus">

									<div class="input-group-prepend">
										<div class="input-group-text">Description</div>
									</div>
									<textarea class="form-control" id="mytextarea"
										placeholder="Enter your description" name="description"></textarea>
								</div>
								<div class="container bg-button text-center">
									<button class="btn btn-outline-success">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>
	</section>
</body>
</html>