<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		
		<div class="text-center">
			<h1 th:text="${title}">Smart Contact Manager</h1>
			<p>start Collecting your contacts in very smarter. we provide very efficient and smarter way of handling contacts.</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>

	</section>

</body>
</html>